body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWenAYgHgAluigZ_sn0BuzytFBMqatvEcrsA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
.text h1{
text-align: left;
    padding-left: 0%;
    font-family: cursive;color: rgba(220, 20, 37, 0.979) ;
    font-weight: bold;
    color:lightgreen;
}
.image{
    padding-top: 1%;
}
a{
    text-decoration: none;
    color:black;
}
.explore{
  list-style-image:url("../downloads/check.png");
  border:1px rgba(0, 0, 0, 0.418) solid;
  padding:2%;
  padding-top: 0.1%;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThWf_mqxylqSKHhEBGMxUq80T6nok8xKLKVw&usqp=CAU");
  border-radius:15px;
  border-color:white;
 
}
.container{
    background-color: black;
    border-right: 5% lightgreen solid;
    position: relative;
}
.explore ul{
    list-style-image: url('../manitej//check.png');
    padding-left: 3%;
}
.subscribe{
    margin: 2% 0% 5% 0%;
    padding: 1%;
    background-color: green;
    color:white;
    font-weight: bold;
    border-color:none;
}
.subscribe:hover{
    transform: scale(1.1);
}
.floats{
    float: right;
    color:white;
}
.details .option{
    background-color: beige;
    color:grey;
    border-radius: 3%;
}
.image_styles{
    margin:1%;
    border-radius: 8%;
}
.image_styles:hover{
    transform: scale(1.1);
}
.container-2{
    background-color: burlywood;
}
.fix-me{
    position: fixed;
    border-top=20px;
}
.button{
    padding:1%;
margin-top: 6em; 
    background-color:black;
    color:white;
    font-weight: bold;
    border-radius: 3%;
    border-color:none;
}
.button:hover{
    background-color: green;
}
#thankyou{
    flolat=right;
    widows: 30%;
    background-color: honeydew;
    padding:1%;
    box-sizing:border-box;
}
.feedback {
    width:100%;
    heigth:500px;
    border:1px solid grey;
}